@use "colours.scss";
@use "components/navbar";
@use "components/_model-banner";
@use "components/console-display";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
/*
Font weights: (TH = Thin, EL = Extra Light, L = Light, R = Regular, M = Medium, SB = Semi Bold, B = Bold, EB = Extra Bold, BL = Black) 
200 (EL), 300 (L), 400 (R), 500 (M), 600 (SB), 700 (B), 800 (EB), 900 (BL)
All styles available at: https://fonts.google.com/specimen/Source+Serif+4
All styles available in italic
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*
Poppins font weights: 100 (TH) - 900 (BL) + Italic
Inter font weights: 100 (TH) - 900 (BL) + Italic
Inter Tight font weights: 100 (TH) - 900 (BL) + Italic
Google Sans Flex: 1 - 1000 + Italic
Roboto: 100 - 900 + Italic
DM Sans: 100 - 1000 + Italic
Lato: 100, 300, 400, 700, 900 + Italic
*/

html, body {
    margin: 0 0.5rem;
    padding: 0;
    // font-family: 'Source Serif 4', serif;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Inter', sans-serif;
    // font-family: 'Inter Tight', sans-serif;
    font-family: 'Google Sans Flex', sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-family: 'DM Sans', sans-serif;
    // font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: colours.$nav_background2;
}