$nav_background: rgba(15, 15, 20, 0.9);
$nav_background2: #27272b;
$nav_background3: #090c16;
$nav_border: rgba(255, 255, 255, 0.08);
$nav_link: #aaa;
$white: #fff;
$highlight-light: #8f5ec5;
$highlight-dark: #2c1c45;
$console-card-background: #3c3c42;